.Game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* ビューポート全体の高さ */
    text-align: center;
    padding: 20px;
  }


  

  .mole-grid {
    display: grid;
    gap: 5px; /* グリッド内のスペース */
    width: 90vw; /* グリッドの幅を画面幅の90%に設定 */
    max-width: 100%; /* 最大幅を100%に設定 */
    margin: 0 auto; /* グリッドを中央に配置 */
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr)); /* 列の幅を調整 */
    justify-content: center; /* グリッド全体を中央揃え */
    box-sizing: border-box; /* パディングやボーダーを含む幅計算 */
    padding-left: 5vw; /* 両サイドに少しスペースを確保 */
    padding-right: 5vw; /* 両サイドに少しスペースを確保 */
}

.hole {
    background-image: url('./images/hole.png'); /* 画像のパスを指定 */
    background-size: 90%; /* 画像の幅と高さを50%に設定 */
    background-position: bottom center; /* 画像を下端に合わせる */
    background-repeat: no-repeat; /* 画像が繰り返されないように設定 */
    position: relative;
    aspect-ratio: 1 / 1; /* 正方形を維持 */
    overflow: hidden;
    cursor: pointer;
}

.mole {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; /* 画像のアスペクト比を保持しつつ、穴に収める */
}










  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* 半透明のグレー背景 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* 他の要素より前面に表示 */
  }
  
  button {
    padding: 15px 30px;
    font-size: 24px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px; /* ボタン間のマージン */
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
  }

.stop-button {
    margin-top: 50px;
}

.countdown {
    color: #fff;
    font-size: 150px;
}

.timeup {
    color: #fff;
    font-size: 50px;
}

.end-score {
    color: #fff;
    font-size: 24px; /* h3全体のフォントサイズ */
    line-height: 1.2; /* 行の高さを調整して垂直方向の揃え方をサポート */
    display: inline-block;
    vertical-align: middle; /* スコアの位置を揃える */
  }
  
  .end-score-num {
    color: #fff;
    font-size: 60px; /* スコア部分のフォントサイズを大きく */
    vertical-align: middle; /* 数字の位置を中央に揃える */
    line-height: 1; /* 高さを合わせるために行の高さを調整 */
    margin-left: 10px; /* スコアと数字の間にマージンを設定 */
    margin-top: 0;
  }

.start-button {
    font-size: 40px;
}

/* GoogleFonts.css */
.potta-one-regular {
    font-family: "Potta One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.effect {
  position: absolute;
  pointer-events: none;
  width: 100px;
  height: 100px;
  background-image: url('./images/Hit.png'); /* ここで画像パスを確認 */
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1000; /* 他の要素に隠れないようにZインデックスを設定 */
  animation: flyaway 0.6s ease-out forwards;
}

